.hotelsList {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 17rem 1fr 1fr 1fr;
    gap: 1rem;
    
}
.container{
    width: min(100% - 4rem, 75rem);
    margin-inline: auto;
   
}
